<form method='POST' action='/plans'>
  <input type="text" name="title"> <%=@plan.title%> </input>
  <br>

  <%@plan.schedules.each do |schedule| %>
<h3><%= schedule.day %></h3>
<p> Designate as rest day </p>
<%["Chest", "Shoulders", "Back", "Biceps", "Triceps", "Abs", "Legs", "Glutes"].each do |region|%>
  <details>
    <summary><%=region%></summary>
      <% Exercise.all.each do |exercise| %>
        <% if exercise.body_region == region.downcase %>
          <input type="checkbox" name="<%=schedule.day%>[exercises][]" value="<%=exercise.id%>" <%='checked' if schedule.exercises.include?(exercise)%>  > <%=exercise.title%>: <%=exercise.sets_reps%> </input>
          <br>
        <% end %>
      <% end %>
  </details>
  <% end %>

  <% end %>
  <br>
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="submit" value="Submit">
</form>
