<% if flash.has? (:message) %>
<%= flash[:message] %>
<% end %>

<form method='POST' action='/plans/<%=@plan.client.id%>'>

  <%@plan.schedules.each do |schedule| %>
<h3><%= schedule.day %></h3>
<p><input type="checkbox" name="<%=schedule.day%>[rest]" value="true" <%='checked' if schedule.rest? == true%> > Designate as rest day </input></p>
<%["Chest", "Shoulders", "Back", "Biceps", "Triceps", "Abs", "Legs", "Glutes"].each do |region|%>
  <details>
    <summary><%=region%></summary>
      <% Exercise.all.each do |exercise| %>
        <% if exercise.body_region == region %>
          <input type="checkbox" name="<%=schedule.day%>[exercises][]" value="<%=exercise.id%>" <%='checked' if schedule.exercises.include?(exercise)%>  > <%=exercise.title%>: <%=exercise.sets_reps%> </input>
          <br>
        <% end %>
      <% end %>
  </details>
  <% end %>

  <% end %>
  <br>
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="submit" value="Submit">
</form>
