<% if session[:client_id] != nil %>
<h2> You are building a new track for <%=Client.find(session[:client_id]).name %></h2>
<% else %>
<h2> You are building a new unassigned track </h2>
<% end %>

<form method='POST' action='/plans'>
  <input type="text" name="title"> Plan Title </input>
  <br>

  <%["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
<h3><%= day %></h3>
<p> Designate as rest day </p>
<%["Chest", "Shoulders", "Back", "Biceps", "Triceps", "Abs", "Legs", "Glutes"].each do |region|%>
  <details>
    <summary><%=region%></summary>
      <% Exercise.all.each do |exercise| %>
        <% if exercise.body_region == region.downcase %>
          <input type="checkbox" name="<%=day%>[exercises][]" value="<%=exercise.id%>"> <%=exercise.title%>: <%=exercise.sets_reps%> </input>
          <br>
        <% end %>
      <% end %>
  </details>
  <% end %>

  <% end %>
  <br>
  <input type="submit" value="Submit">
</form>
