

<h2> You are building a new track for <%=Client.find(session[:client_id]).name %></h2>
<br>
<br>
<% if flash.has? (:message) %>
<h3><%= flash[:message] %></h3>
<% end %>

<form method='POST' action="/plans/<%=session[:client_id]%>">
  <br>

  <%["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
<h3><%= day %></h3>
<p><input type="checkbox" name="<%=day%>[rest]" value="true"> Designate as rest day </input></p>
<%["Chest", "Shoulders", "Back", "Biceps", "Triceps", "Abs", "Legs", "Glutes"].each do |region|%>
  <details>
    <summary><%=region%></summary>
      <% Exercise.all.each do |exercise| %>
        <% if exercise.body_region == region %>
          <input type="checkbox" name="<%=day%>[exercises][]" value="<%=exercise.id%>"><a href='/exercises/<%=exercise.id%>'> <%=exercise.title%></a>: <%=exercise.sets_reps%> </input>
          <br>
        <% end %>
      <% end %>
  </details>
  <% end %>

  <% end %>
  <br>
  <input type="submit" value="Submit">
</form>
