<h2><%= @plan.client.name %>'s Plan </h2>
<p> Created by <%= @plan.trainer.name %></p>
<%@plan.schedules.each do |schedule| %>
  <h3><%=schedule.day%> </h3>
    <%schedule.exercises.each do |exercise|%>
      <p><%=exercise.title %>: <%=exercise.sets_reps%></p>
    <% end %>
<% end %>
<a href='plans/<%=@plan.client.id/edit'> Edit plan </a>
