<h2> <%=@exercise.title %> </h2>
<p> <%=@exercise.body_region%> </p>
<p> <%=@exercise.description %> </p>
<p> <%=@exercise.sets_reps%> </p>
<br>
<br>
<% if flash.has? (:message) %>
<h3><%= flash[:message] %></h3>
<% end %>

<form method='POST' action='/exercises/<%=@exercise.id%>'>
  <input type="text" name="title" value="<%=@exercise.title%>"> Exercise Title </input>
  <br>
  <textarea style="height:200px; width:200px" type="text" name="description" value="<%=@exercise.description%>"> <%=@exercise.description%> </textarea>
  <br>
  <input type="integer" name="sets" value="<%=@exercise.sets%>"> Sets to Be Performed </input>
  <br>
  <input type="integer" name="reps" value="<%=@exercise.reps%>"> Reps to Be Performed </input>
  <br>
  <p> Body Region </p>
  <%["Chest", "Shoulders", "Back", "Biceps", "Triceps", "Abs", "Legs", "Glutes"].each do |region|%>
  <input type="radio" name="body_region" value="<%=region%>" <%= 'checked' if @exercise.body_region == region%>><%=region%></input>
  <% end %>
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="submit" value="Submit">
</form>
