<h2> <%=@exercise.title %> </h2>
<p> <%=@exercise.body_region%> </p>
<p> <%=@exercise.description %> </p>
<p> <%=@exercise.sets_reps%> </p>

<form method='POST' action='/exercises/<%=@exercise.id%>'>
  <input type="text" name="title"> Exercise Title </input>
  <br>
  <input type="text" name="description"> Exercise Instructions </input>
  <br>
  <input type="integer" name="sets"> Sets to Be Performed </input>
  <br>
  <input type="integer" name="reps"> Reps to Be Performed </input>
  <br>
  <p> Body Region </p>
  <%["Chest", "Shoulders", "Back", "Biceps", "Triceps", "Abs", "Legs", "Glutes"].each do |region|%>
  <input type="radio" name="body_region" value="<%=region%>" <%= 'checked' if @exercise.body_region == region%>><%=region%></input>
  <% end %>
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="submit" value="Submit">
</form>
