<h2> <%= @exercise.title %> </h2>
<p> <%= @exercise.description %> </p>
<p> <%=@exercise.sets%> sets of <%= @exercise.reps %> repititions </p>
<a href='/exercises/new'> Add another exercise? </a>
<a href="/trainers/<%=session[:user_id]%>"> Return to main page </a>
