<h2> Welcome, <%=@trainer.first_name%> </h2>
<h3> <%=session[:user_id]%> </h3>
<h3> <%=session[:is_trainer]%> </h3>

<% if !@trainer.clients.empty? %>
  <p> Here are your current clients with plans </p>
  <ul>
  <% @trainer.clients.each do |client| %>
    <% if client.plan != nil && client.first_name != "user" %>
      <li> <%=client.name%> </li>
     <a href='/plans/<%=client.plan.id%>'>See current plan </a>
     <br>
     <br>
    <% end %>
  <% end %>
</ul>
  <p> Here are your current clients without plans </p>
  <ul>
  <% @trainer.clients.each do |client| %>
    <% if client.plan == nil && client.first_name != "user" %>

      <li> <%=client.name%> </li>
      <a href='/plans/<%=client.id%>/new'> Make new plan! </a>
      <br>
    <%end%>
  <% end %>
  </ul>
<% else %>
<p> Oh no, you have no clients! </p>
<% end %>
<p> <a href='/clients/new'>You can add new clients by their email address by clicking here </p>
<p><a href='/exercises/new'> You can add new exercises by clicking here</a> </p>

<% Client.all.each do |client| %>
  <% if client.first_name == "user" %>
  <%= client.email %>
  <% end %>
  <% end %>
