<h2> Welcome, <%=@trainer.first_name%> </h2>
<% if !@trainer.clients.empty? %>
  <p> Here are your current clients with plans </p>
  <ul>
  <% @trainer.clients.each do |client| %>
    <% if client.plan != nil %>
      <li> <%=client.name%> </li>
      <li> <a href='/plans/<%=client.plan.id%>'><%=client.plan.title%> </a></li>
    <% end %>
  <% end %>
</ul>
  <p> Here are your current clients without plans </p>
  <ul>
  <% @trainer.clients.each do |client| %>
      <li> <%=client.name%> </li>
      <p><a href='/plans/<%=client.id%>/new'> Make new plan! </a></p>
      <br>
  <% end %>
  </ul>
<% else %>
<p> Oh no, you have no clients! </p>
<% end %>
<p> You can add new clients by their email address by clicking here </p>
<p><a href='/exercises/new'> You can add new exercises by clicking here</a> </p>
